.EventsTimeline {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1200px;
  .MuiTimelineItem-root {
    &.active-event {
      background-color: #eef5ff;
      border-radius: 0.5rem;
      box-shadow: #fff inset 0 0 12px 0px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.method {
  padding: 2px;
  border: 2px solid;
  border-radius: 5px;
}
